export NETMIKO_USERNAME=admin
export NETMIKO_PASSWORD=your_password
export NETMIKO_ENABLE_SECRET=your_secret
export ANSIBLE_NET_USERNAME=$NETMIKO_USERNAME
export ANSIBLE_NET_PASSWORD=$NETMIKO_PASSWORD
export ANSIBLE_NET_ENABLE_SECRET=$NETMIKO_ENABLE_SECRET